




.flex-container--2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust spacing as needed */
    width: 10px;
    margin: 0 auto;
}

.head-column {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 32px; /* Adjust width as needed */
    margin: 10px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns elements vertically */
    gap: 20px; /* Adjust spacing between elements */
}

.img-yaho, .img-yahoo {
    margin: 0; /* Remove default margins for both elements */
}

.Image1{
    width: 10px;
    max-width: 20px; /* Adjust max-width as needed */
}






.flex-container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust spacing as needed */
    width: 10px;
    margin: 0 auto;

}
.item {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns elements vertically */
    gap: 20px; /* Adjust spacing between elements */
}




.head-column-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 32px; /* Adjust width as needed */
    margin: 10px;
    box-sizing: border-box;
}



.img-ex, .re {
    margin: 0; /* Remove default margins for both elements */
}

.img-bi{
    width: 10px;
    max-width: 20px; /* Adjust max-width as needed */
}



.whole{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
}



.image-cust{
    width: 20px;
    height: 20px;
}
.custo{
    width: 110px;
    height: 31px;
    display: flex;
    flex-direction: row;
    border-radius: 19px;
    border:2px solid red;
    align-items: center;
    padding-right: 10px;
    color:#2541B2;
    margin-right: 20px;
    

}
.img-listed{
    width: 12px;
    height: 17px;
    padding-left: 6px;
    
}
.image-cust{
    color: #2541B2;

}

.flex-container-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10px;
    margin: 0 auto;
}
.head-column-2{
    display: flex;
    flex-direction: column;
    background-color:white;
    border:1px solid #ccc;
    padding: 20px;
    width: 32px;
    margin:10px;
    box-sizing: border-box;
}
.item-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}













